* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


// Colors 
$darkblue: rgb(197, 161, 0);
$lightblue: rgb(177, 153, 159);
$gray: rgb(63, 63, 63);

body {
    color: $gray;
    padding-top: 40px;
min-height: 100vh;
    
    position: relative;
    padding-bottom: 450px;
}

//Button 
.btn {
    border-radius: 5px;
    padding: 13px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-blue {
    background: $lightblue;
    color: white;
    float: right;

    &:hover {
        background: darken($lightblue, 10);
    }
}

label {
    width: 48%;
    float: left;
    font-weight: bold;

    &:nth-child(even) {
        
    float: right;
    }
}

input[type=text] {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
 
   
}

.container {
    width: 98%;
    max-width: 950px;
    margin: auto;
   
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: $darkblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
    border-top: white double 14px;

}

th, td {

    padding: 15px;
}

td {
    border-bottom: 2px solid rgb(235, 235, 235);
}

th {
    text-align: left;
    background: $lightblue;
    color: white;
}

a {
    color: $lightblue;
    font-weight: bold;

    &:hover {
        color: darken($lightblue, 20);
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: $lightblue;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-top: white double 30px;
    
}

.center {
    text-align: right;
}

th:nth-child(5) {
    text-align: right;
}

tr {
    td:nth-child(5) {
      a {
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
    }  
    }
    
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    min-height: 300px;/* Could be more or less, depending on screen size */
    max-width: 1000px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }